@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">About Me</h1>
    <img src="images/Charles Graham.jpg" width="150" height="150" />
    
    <div style="margin-top: 1em;">
        <p>I’m a Senior Software Engineer. I design, architect, and develop systems in the true spirit of agile development. I mentor other developers, but I learn as much from them as they learn from me. </p>
        <p>Outside of work I am still a lifelong learner.  Whether it’s studying Brazilian drumming, traveling to civil war sites, visiting museums, doing CrossFit, or just walking around reading plaques, I’m always learning.  Currently, I’m an avid swimmer and hiker, and I’ve been trying to learn to cook as well as my partner, which is not going to happen anytime soon. </p>
        <p>I live in the Historic Germantown section of Philadelphia, with my partner, our daughter, and our adorable puppy, Paige.</p>
    </div>
</div>
