@model AlexLeeTakeHomeCore.Data.PurchaseDetailItem

@{
    Layout = null;
}

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="PurchaseDetailItemAutoId" />
    <div class="form-group">
        <label asp-for="PurchaseOrderNumber" class="control-label"></label>
        <input asp-for="PurchaseOrderNumber" class="form-control" />
        <span asp-validation-for="PurchaseOrderNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemNumber" class="control-label"></label>
        <input asp-for="ItemNumber" class="form-control whole-number" />
        <span asp-validation-for="ItemNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemName" class="control-label"></label>
        <input asp-for="ItemName" class="form-control" />
        <span asp-validation-for="ItemName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ItemDescription" class="control-label"></label>
        <input asp-for="ItemDescription" class="form-control" />
        <span asp-validation-for="ItemDescription" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchasePrice" class="control-label"></label>
        <input asp-for="PurchasePrice" class="form-control" />
        <span asp-validation-for="PurchasePrice" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PurchaseQuantity" class="control-label"></label>
        <input asp-for="PurchaseQuantity" class="form-control whole-number" />
        <span asp-validation-for="PurchaseQuantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastModifiedByUser" class="control-label"></label>
        <input asp-for="LastModifiedByUser" class="form-control" readonly="readonly"></input>
        <span asp-validation-for="LastModifiedByUser" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastModifiedDateTime" class="control-label"></label>
        <input asp-for="LastModifiedDateTime" class="form-control" readonly="readonly"></input>
        <span asp-validation-for="LastModifiedDateTime" class="text-danger"></span>
    </div>
</form>


