@using AlexLeeTakeHomeWeb.Models.PurchaseDetailItems
@model IndexModel

@{
    ViewData["Title"] = "Purchase Detail Items";
}

<h1>Purchase Detail Items</h1>

<p>
    <a asp-action="Create">Create</a>
</p>

@Html.Partial("_Search", Model.Search)
@Html.Partial("_Results", Model.Results)


